@charset "ISO-8859-1";
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
 body {
            background-image: url("C:\Users\Admin\Desktop\ProjectServletSaish\webapp\src\main\webapp\Image\pexels-pixabay-512890.jpg");
      }
header {
	background-color: #F8F8F8;
	padding: 20px 0;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	color: #333333;
	margin: 0;
}

main {
	background-color: #FFFFFF;
}

.cta {
	text-align: center;
	padding: 80px 0;
}

h2 {
	font-size: 36px;
	font-weight: bold;
	color: #333333;
	margin: 0;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	color: #333333;
	margin-bottom: 40px;
}

.btn-primary, .btn-secondary, .btn-tertiary {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 30px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
}

.btn-primary {
	background-color: #003399;
	color: #FFFFFF;
	margin-right: 20px;
}

.btn-secondary {
	background-color: #F8F8F8;
	color: #333333;
	margin-right: 20px;
}

.btn-tertiary {
	background-color: transparent;
	border: 2px solid #003399;
	color: #003399;
}

.btn-primary:hover, .btn-secondary:hover, .btn-tertiary:hover {
	background-color: #FFFFFF;
	color: #333333;
}
